################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LauriesEstimateCalculatorAPI/DesignTimeBuild
/.vs/LauriesEstimateCalculatorAPI/FileContentIndex
/.vs/LauriesEstimateCalculatorAPI/v17/.futdcache.v2
/.vs/LauriesEstimateCalculatorAPI/v17/.suo
/.vs/ProjectEvaluation
/LauriesEstimateCalculatorAPI.Test/obj
/src/ApiWebL/LauriesEC.Fences/obj
/src/BLL/LauriesEC.Fences.Services/obj
/src/DAL/LauriesEC.Fence.Repositories/obj
